.statistic h2 {
  font-weight: 900;
  font-size: 40px;
  color: rgb(133, 124, 7);
}

.item {
  font-weight: 700;
  font-size: 20px;
  margin-left: 20px;
}

.item__calc {
  font-weight: 700;
  font-size: 20px;
  margin-left: 20px;
  color: rgb(19, 3, 11);
}
.number {
  color: rebeccapurple;
}
