.statistics h2 {
  font-weight: 900;
  font-size: 30px;
}

.item {
  font-weight: 700;
  font-size: 20px;
  margin-left: 20px;
}

.item__calc {
  font-weight: 700;
  font-size: 20px;
  margin-left: 20px;
  color: rgb(233, 223, 89);
}
.number {
  color: rebeccapurple;
}
